<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="frontendApp" class="all-wrap">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container inner-all-wrap" ng-view>
        <div class="row">
            <!-- Start Images View -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 related-images-wrap">
                <input class="search-for-images-input" placeholder="Search for images" type="text" ng-model="imageToSearch">
                <button class="search-button" ng-click="searchImages()"><i class="fa fa-search"></i></button>
                
            </div>
            <!-- End Images View -->
            <!-- Start Main View -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-view-wrap">
                <div class="row center-block">
                    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                        <input class="center-block main-word-input" type=text value="palabra" ng-model="flashCard.sourceWord"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <input value="Sounds Like..." class="center-block suggested-words-input" type=text ng-model="flashCard.destWord"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="main-view">
                            <div class="row inner-actions-buttons-wrap">
                                <div class="col-lg-4 col-xs-4">
                                    <img class="img-responsive center-block inner-actions-button" src="images/text-btn.png"/>
                                    <div class="button-lable dark"><p>Add Text</p></div>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <img class="img-responsive center-block inner-actions-button" src="images/draw-btn.png"/>
                                    <div class="button-lable dark"><p>Draw</p></div>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <img class="img-responsive center-block inner-actions-button" src="images/upload-btn.png"/>
                                    <div class="button-lable dark"><p>Upload</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <input class="center-block reminded-word-input" value="test" type=text ng-model="flashCard.associationText"></input>
                        </div>
                    </div>
                </div>
            
            <!-- End Main View -->
            <!-- Start Extra Buttons -->
            <div class="col-lg-2 col-xs-2 buttons-wrap">
                <div class="action-title"><p>Suggested Images</p></div>
                <div ng-repeat="image in images" class="related-image-wrap">
                    <img class="img-responsive" src="http://placehold.it/350x260" ng-click="setImage(image.url)"/>
                </div>
                <div ng-repeat="image in images" class="related-image-wrap">
                    <img class="img-responsive" src="http://placehold.it/350x260" ng-click="setImage(image.url)"/>
                </div>
                <div ng-repeat="image in images" class="related-image-wrap last">
                    <img class="img-responsive" src="http://placehold.it/350x260" ng-click="setImage(image.url)"/>
                </div>
                <div class="row">      
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <button class="action-button save"  ng-click="saveCard()"></button>
                        <div class="button-lable"><p>Save</p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <button class="action-button new"></button>
                        <div class="button-lable"><p>New</p></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4">
                        <button class="action-button publish" id="publish"></button>
                        <div class="button-lable"><p>Publish</p></div>
                    </div>
                </div>
            </div>
            <!-- End Extra Button -->
        </div>   
    </div>



    <script src="components/angular/angular.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>

    <!-- build:js scripts/scripts.js -->


    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
 
  </body>
</html>
